@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* *{
  margin:0;
  padding:0;
  box-sizing:border-box;
} */

html,
body,
#root{
  width:100%;
  height:100%;
}

body{
  background:#0B0B0F;
  color:white;
  font-family:Inter,sans-serif;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#32323c;
  border-radius:20px;
}

::-webkit-scrollbar-track{
  background:transparent;
}